.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  margin: 4%;
}

.heading {
  background: blueviolet;
  color: white;
  padding: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
